body {
    background-color: rgb(51, 51, 51);
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
}
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
/* Styling the nav bar */
.bg-dark {
  background-color: rgba(66, 66, 66, 1)!important;
}
.no-padding {
  background-color: rgba(66, 66, 66, 1)
}
/* Styling section below the nav bar */
.below-nav {

    height: 175px;
    background-color: rgb(51, 51, 51);
    color: rgb(233, 233, 233);
    padding-left: 0px;
    padding-right: 0px;
}
.below-nav p a:hover {
    color: rgb(0, 183, 255);

}
.below-nav a {
    color: white;
    text-decoration: none;
    border-left: 6px solid rgb(0, 183, 255);
    transition: 0.3s;

}
.below-nav p {
    padding-top: 45px;
    font-size: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.below-nav p::after {
    content: "   Learn more about me";
    font-size: 15px;
    color: rgb(104, 104, 104);
}
/* The main content container */
.main-column-one {

    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: start;
    overflow: auto;
    color: grey;
    text-align: justify;
}
.main-column-two {

    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: start;
    overflow: auto;
    color: grey;
}

#link {
    float: right;
}

.img-container {
    position: relative;
    text-align: center;
    color: white;
    background-color: rgb(60, 60, 60);
}
.add-padding {
  padding-left: 10px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.side {
  color: rgb(200, 200, 200);
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 35px;
  padding-bottom: 35px;
}
.make-white {
  color: white;
}
.bottom-left {
    position: absolute;
    bottom: 5px;
    left: 0px;
    background-color: rgb(0, 183, 255);
    padding: 35px;
    display: block;
    font-size: 40px;
    font-style:unset;
    margin: 0px;
}
.follow-me li a {
    display: inline-block;
    background-color: rgb(73, 73, 73);
    color:rgb(175, 174, 174);
    text-align: center;
    padding: 10px;
    text-decoration: none;
    transition: 0.3s;
}
.follow-me li {
    list-style-type: none;
    float: left;
}
.follow-me li a:hover {
    background-color: rgb(0, 183, 255);
    color: white;
}


/* footer styles */
.below-footer1 {

    background-color: rgb(66, 66, 66);
    color: white;

    height: 200px;
}

.below-footer1 ul {
    list-style-type: none;
    display:inline-flex;
    padding-top: 70px;
}

.below-footer1 li a {
    padding: 15px;
    font-size: 25px;
    width: 50px;
    /* text-align: center; */
    text-decoration: none;
    margin: 2px;
    transition: 0.3s;

}

.below-footer1 li a:hover {
    opacity: 0.7;
}

.fa-facebook {
    background-color: #3B5998;
    color: white;
}
.fa-linkedin {
    background-color: #007bb5;
    color: white;
}
.fa-google {
    background-color: #dd4b39;
    color: white;
}
.fa-github {
    background-color: #125688;
    color: white;
}
.fa-angle-up {
    background-color: rgb(73, 73, 73);
    color: white;
}

.below-footer1 i a {
    padding-top: 9px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 2px;
    position: absolute;
    top: 50%;
    left: 105%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
}

.below-footer1 i a:hover {

    background-color: rgb(0, 183, 255);
}
.add-background {
  background-color: rgba(66, 66, 66, 1);
}
