{% extends 'base.html' %}

<!-- TODO: make image progressively bigger as screen size gets smaller. -->

{% block app_content %}

<div class="row">
  <div class="col-md-8">
  <div class="row">
    <div class="col-md-12 add-padding">
    <div class="img-container">
            <img src="static/images/Jonathan-Profile-picture.jpg" width="60%" height="450px" alt="Jonathan image">
            <div class="bottom-left">About me</div>
        </div> <!-- img container div -->
      </div> <!-- end col 12 -->
    </div> <!-- end row-->

    <div class="row">
    <div class=" col-md-12 main-column-one">
        <p>
            Hey! If your reading this you'd probably like to know more about who I am:
        </p>
        <br>
        <p>
            My name is Jonathan Morfin, I'm 23 years old and I'm currently living in Boston MA. I am pursuing a career in development.
        </p>
        <br>
        <p>
            You might be wondering why I chose to pursue developoment as a career rather than a career in the medical field
            considering I graduated with a B.S. in Biology. One of the reasons I decided to not pursue the medical field was because I simply don't have a passion for
            healthcare. Like anything else, if you love it, you do it, if you don't, you don't. All things are the same for
            careers. One of my strengths is problem solving and being highly detail oriented. These are must-need qualities for candidates pursuing any type
            of CS related careers. After working a few jobs in other un-related fields, I decided to choose to pursue development. I've always had an interest in it, and
            when I was at Umass Amherst I actually attempted to minor in CS, but was unable to due to conflicting class scheduling.
        </p>
      </div> <!-- main column 1 -->
    </div> <!-- end row-->

    <div class="row">
      <div class="col-md-12 main-column-two">
            <h2>What I currently know</h2>
            <br>
            <p>
                Currently I have experience in Java, Python, HTML & CSS. In the future, however, I will be most profient in Python.
     </div> <!-- end main column 2 -->
    </div> <!-- row-->

    </div> <!-- end col 8 -->


      <div class="col-md-4 side">
        <div class="row">
          <div class="col-md-12">
            <h2 class="make-white"><strong>Me</strong></h2>
            <br>
            <p>
                This is Jonathan Morfin, a <em>future</em> software developer born and raised in the great city of
                Boston Massachussetts. After graduating high school, Jonathan attended the University of Massachussetts Amherst
                where he studied Biology. Upon graduating he was unsure of what he wanted to pursue. On a leap of faith, he left
                Boston to live in Nashville TN on his own to discover his direction. In Nashville, Jonathan worked various jobs
                and while working as a leasing consultant, discovered his direction. After meeting 4 professional sofware developers, he  became interested
                in development as a career. He decided to move back to his home city of Boston to attend a coding bootcamp and start his journey.
            </p>
              </div> <!-- end col 12 -->
            </div> <!--row -->

        <div class="row">
        <div class="col-md-12">


                <h2 class="make-white"><strong>Interests</strong></h2>
                <br>
                    <p>
                        - Development <br>
                        - Science & Technology <br>
                        - Sports <br>
                        - Music <br>
                        - Exercise <br>
                    </p>
          </div> <!-- end col 12 -->
        </div> <!-- end row -->


        <div class="row">
        <div class="col-md-12">
            <div class="follow-me">
                    <h2 class="make-white"><strong>Follow Me</strong></h2>
                    <br>
                    <p>
                        <ul>
                            <li><a href="https://www.facebook.com/jonathan.morfin.5?ref=bookmarks" target="_blank">facebook</a></li>
                            <li><a href="https://www.linkedin.com/in/jonathanmorfin411/" target="_blank">linkedin</a></li>
                            <li><a href="https://github.com/jmorfin23" target="_blank"">github</a></li>
                        </ul>
                    </p>
            </div> <!-- end of follow me -->
          </div> <!-- end col 12 -->
      </div> <!-- end row -->

      </div> <!-- end col 4 -->
    </div> <!-- end row -->

{% endblock %}
