<!DOCTYPE html>
<html lang="en=US">
<head>
    <title>Jonathan Morfin's Webpage</title>
    <meta charset="utf-8">
	<meta name="keywords" content="html, Javascript, CSS">
	<meta name="author" content="Jonathan Morfin">
	<meta http-equiv="refresh" content="30">
    <meta name="viewport" content="width=device-width, initial-scale= 1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
  <header>
  <div class="row">
    <div class="col-md-12 no-padding">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark add-color">
<a class="navbar-brand" href="index.html">Home</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="templates/about-me.html">About me<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="templates/blog.html">Photos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Follow Me</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('blog') }}">Blog</a>
    </li>
  </ul>
</div>
</nav>
    </div>  <!-- end col 12 -->
  </div>   <!-- end row -->
</header>

    <div class="row">
      <div class="col-md-10 offset-md-2 offset-sm-4 offset-2 below-nav">
            <p><a href="#"> Home</a></p>
      </div> <!-- col 12 -->
    </div> <!-- end row -->

<div class="row">
  <div class="col-md-8">
  <div class="row">
    <div class="col-md-12 add-padding">
    <div class="img-container">
            <img src="static/images/Jonathan-Profile-picture.jpg" width="100%" height="600px" alt="Jonathan image">
            <div class="bottom-left">About me</div>
        </div> <!-- img div -->
      </div> <!-- end col 12 -->
    </div> <!-- end row-->

<main>
<div class="row">
<div class=" col-md-12 main-column-one">
    <p>
        Hey! If your reading this you'd probably like to know more about who I am:
    </p>
    <br>
    <p>
        My name is Jonathan Morfin, I'm 23 years old and I'm currently living in Boston MA. I am pursuing a career in development.
    </p>
    <br>
    <p>
        You might be wondering why I chose to pursue developoment as a career rather than a career in the medical field
        considering I graduated with a B.S. in Biology. One of the reasons I decided to not pursue the medical field was because I simply don't have a passion for
        healthcare. Like anything else, if you love it, you do it, if you don't, you don't. All things are the same for
        careers. One of my strengths is problem solving and being highly detail oriented. These are must-need qualities for candidates pursuing any type
        of CS related careers. After working a few jobs in other un-related fields, I decided to choose to pursue development. I've always had an interest in it, and
        when I was at Umass Amherst I actually attempted to minor in CS, but was unable to due to conflicting class scheduling.
    </p>
  </div> <!-- main column 1 -->
</div> <!-- end row-->

<div class="row">
  <div class="col-md-12 main-column-two">
        <h2>What I currently know</h2>
        <br>
        <p>
            Currently I have experience in Java, Python, HTML & CSS. In the future, however, I will be most profient in Python.
 </div> <!-- end main column 2 -->
</div> <!-- row-->

</div> <!-- end col 8 -->


  <div class="col-md-4 side">
    <div class="row">
      <div class="col-md-12">
        <h2 class="make-white"><strong>Me</strong></h2>
        <br>
        <p>
            Hey hows it going, this is Jonathan, a <em>future</em> software developer born and raised in the great city of
            Boston Massachussetts. After graduating high school, Jonathan attended the University of Massachussetts Amherst
            where he studied Biology. Upon graduating he had no idea what he wanted to pursue. On a leap of faith, he left
            Boston to live in Nashville on his own to figure out his direction. In Nashville, Jonathan worked numerous jobs
            and while working in leasing, he met a few software engineers. After meeting 4 sofware developers and becoming interested
            in development as a career, he decided to move back to his home city to attend a coding bootcamp to jump-start his career.
            Jonathan later graduated from the bootcamp. TBC.
        </p>
          </div> <!-- end col 12 -->
        </div> <!--row -->

    <div class="row">
    <div class="col-md-12">


            <h2 class="make-white"><strong>Interests</strong></h2>
            <br>
                <p>
                    - Development <br>
                    - Science & Technology <br>
                    - Sports <br>
                    - Music <br>
                    - Exercise <br>
                </p>
      </div> <!-- end col 12 -->
    </div> <!-- end row -->

    <div class="row">
    <div class="col-md-12">
        <div class="follow-me">
                <h2 class="make-white"><strong>Follow Me</strong></h2>
                <br>
                <p>
                    <ul>
                        <li><a href="https://www.facebook.com/jonathan.morfin.5?ref=bookmarks">facebook</a></li>
                        <li><a href="https://twitter.com">linkedin</a></li>
                        <li><a href="https://github.com/jmorfin23">github</a></li>
                    </ul>
                </p>
        </div> <!-- end of follow me -->
      </div> <!-- end col 12 -->
  </div> <!-- end row -->

  </div> <!-- end col 4 -->
</div> <!-- end row -->
</main>



<footer>
<div class="row add-background">
  <div id="bookmark" class="col-md-10 offset-md-1 offset-sm-2 offset-1 below-footer1">
            <ul>
                <li><a href="#" class="fa fa-facebook"></a></li>
                <li><a href="#" class="fa fa-linkedin"></a></li>
                <li><a href="#" class="fa fa-google"></a></li>
                <li><a href="#" class="fa fa-github"></a></li>
            </ul>

                <i>
                    <a href="#" class="fa fa-angle-up"></a>
                </i>
</div> <!-- end col 12 -->

</div> <!-- end row -->
</footer>



</body>
</html>
