{% extends 'base.html' %}

{% block app_content %}

<div class="row">
  <div class="col-md-18 offset-md-4 offset-sm-2 offset-1 auto-margin">
    <div class="box">
            <img src="../static/images/Jonathan-Profile-picture.jpg" class="box-image">

            <h2>Jonathan Morfin</h2>
            <br>
            <h5>Web Developer / 'Future' Software Developer</h5>
            <br>
            <br>
            <p>
                    Hi, my name is Jonathan Morfin, I'm 23 years old and I'm an aspiring developer.
            </p>

        </div>
  </div>
</div>


{% endblock %}
